html {
  min-height: 100;
  border: 10px;

}

nav {
    position: relative;
    background-color: black;
    height: 14vh;
    width: 100%;
    overflow: hidden;
  }
  
  nav video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  nav .container {
    position: relative;
    z-index: 2;
  }
  
  nav .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }  
  @media (pointer: coarse) and (hover: none) {
    nav {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
  
    nav video {
      display: none;
    }
  }


  .main-content {
    display: flex;
    border: 2px solid;
    border-color: #b8c6db;

  }

  .side-bar {
    width: 10%;
    min-width: 10% !important;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%); 
    border-right: 2px solid;
    border-color: #b8c6db;
    
   }


  .upper-side-bar {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid;
    border-color: #b8c6db;

  }

  .new-card-btn {
  
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
  }


  .lower-side-bar {
    height: 65vh;
    display: flex;
    justify-content: center;
  }

  .your-cards-btn {
  
    background-color: #f1f1f1;
    height: fit-content;
    margin-top: 8vh;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
  }




 .new-card{
   width: 80%;
 }
 .content-form {
display: grid;
justify-content: center;
margin: 20vh;

}


.title {
  display: flex;
  margin-bottom: 5vh;
  column-gap: 80px;
}

.title > input {
  width: 50vh ;
}

.description {
  display: flex;
  column-gap: 30px;
  margin-bottom: 5vh;
}

.description > textarea {
  height: 20vh;
  width: 50vh;
}

.sv-btn{
  align-items: center;
    display: flex;
    justify-content: space-around;

  
}
.save-btn {
  width: 10vw;
}

/* -------------------CARDS CSS--------------------------------------- */


.your-cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  width: fit-content;
  margin: 5vh auto;
  overflow-y: visible;
  display: inline-block;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 10vw;
}
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
.note {
  font-family: 'Comfortaa', cursive;
	float: left;
	display: flex;
	position: relative;
	padding: 1em;
	width: 20vw;
  height: 20vw;
  overflow-y: visible;
	min-height: inherit;
  overflow: auto;
  margin: 0 30px 30px 0;
	background-color: #FFFD75;
	box-shadow: 5px 5px 10px -2px rgba(33,33,33,.3);
	transform: rotate(2deg);
	transform: skew(-1deg,1deg);
	transition: transform .15s;
	z-index: 1;

}

.note::-webkit-scrollbar {
  width: 0.3vw;
}
.note::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.note::-webkit-scrollbar-thumb {
  background: #888;
}
.note::-webkit-scrollbar:hover {
  background: #555;
}


.title-note {
  font-size: medium;
  font-weight: 600;
}


.desc{

  overflow-y: visible; 
  margin-top: 3vh;
}



.delete{
  width: 2vw;
  height: 4vh;
  border: none;
  margin-top: 1px;
  margin-right: 2px;
  position:absolute;
  top:1vh;
  right:1vw;
  background: url('delete.png');
  background-size: 100%;
  background-repeat:no-repeat;
  
}

.delete:active {
  transform: translateY(4px);
}

.date{
  width: 6.5vw;
  height: 2vh;
  border: none;
  position:absolute;
  top:5.5vh;
  left:1vw;
  background-size: 100%;
  background-repeat:no-repeat;
  font-size: x-small;
  margin-bottom: 0;
  
}